.root {
  composes: global(navbar) global(navbar-light) global(navbar-expand) global(fixed-top);

  background-color: white;
  box-shadow: 0 0 2px #eee;
  justify-content: space-between;
}

.action {
  composes: global(btn-link) global(nav-link);

  padding: 0;
  font-size: 1.5em;
}
