$actionBtnSize: 0.3rem;

.root {
  composes: global(card) global(mb-lg-3) global(mb-xl-4);

  border-radius: 0;
  border-color: #eee;

  margin-top: -1px; // covers up border overlap
  padding: 1px; // prevent border flicker
}

.header {
  composes: global(card-header);

  border: none;
  background-color: white;
  padding: 4px 4px 0;
}

.title {
  margin: 0;
  padding: 6px;
}

.actionBtns {
  composes: global(btn-group) global(btn-group-sm) global(pull-right);
}

.actionBtn {
  composes: global(btn);

  background-color: transparent;
  border: none;
  color: #333;

  font-size: 1.4rem !important;
  padding-right: $actionBtnSize !important;
  padding-left: $actionBtnSize !important;
}
